@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #2c2d2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-accent: #940a1d;
  --color-primary: #10505b;
  --color-grey: #59495f;
  --color-background-white: #f7f7f7;
  --color-background-grey: #f0eef2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
